.sp-header {
    background-color: #f64c72;
}

.uname {
    color: #242582
}

.post-link {
    text-decoration: none;
    font-weight: bold;
    color: black;    
}

.post-grid {
    background-color: #99738E;
    
}

.requestCard {
    width: 320px;
}

.w-100px {
    width: 100px;
}

.headerDiv {
   
   background-color: #2F2FA2;
}

.headerDiv p {
    font-weight:bold;
    font-size: 20px;
    /* font-family: Oswald; */
}

.headerDiv h1 {
    font-weight: bold;
    font-size: 48px;
}

.homeSectionOne {
    background-color:#242582;
}

.homeSectionOne p {
    font-weight:bold;
    font-size: 20px;
}

.homeSectionOne h1 {
    font-weight:bold;
    font-size: 48px;
}


.homeSectionTwo {
    background-color:#2F2FA2;
}

.homeSectionTwo p {
    font-weight:bold;
    font-size: 20px;
}

.homeSectionTwo h1 {
    font-weight:bold;
    font-size: 48px;
}

.homeSectionTwo img {
    height: 90%;
    width: 65%;
}

.margin8px {
    margin-bottom: 0px;
}

.loginPage {
    background-color: #2F2FA2;
    height: 100vh;
}

.signUpPage {
    background-color: #2F2FA2;
    height: 100vh;
}