.sp-header {
    background-color: #f64c72;
}

.uname {
    color: #242582
}

.post-link {
    text-decoration: none;
    font-weight: bold;
    color: black;    
}

.post-grid {
    background-color: #99738E;
}