form {
    display: flex;
    justify-content: center;
    }
    
    .card-header {
      display: flex;
      justify-content: center;
    }

    p {
        display: flex;
        justify-content: center;
    }